[submodule "blue-penguin-dark"]
	path = blue-penguin-dark
	url = https://github.com/tcarwash/blue-penguin-dark.git
[submodule "pelican-webmention"]
	path = pelican-webmention
	url = git@github.com:drivet/pelican-webmention.git
